:root {
  // Шрифты
  --font-main: "MuktaMahee", sans-serif; // главный шрифт на странице
  --font-second: "PollerOne", sans-serif; // главный шрифт на странице
  // Контейнер
  --container-width: 1215px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #fff; // бекграунд страницы
  --background-menu: #fff;
  --white: #ffffff;
  --black: #000000;
  --l-green: #25a040;
  --green: #1b7c31;

  --hover: #2cb64a; // цвет при ховере
  --active: #2ec64f; // цвет при активе 
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 120px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.webp {
  & .hero {
    background-image: url(../../img/hero.webp);
  }

  & .about {
    background-image: url(../../img/about.webp);
  }

  & .contacts_2 {
    background-image: url(../../img/contacts.webp);
  }
}

.no-webp {
  & .hero {
    background-image: url(../../img/hero.jpg);
  }

  & .about {
    background-image: url(../../img/about.jpg);
  }

  & .contacts_2 {
    background-image: url(../../img/contacts.jpg);
  }
}

.tt-1 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 52px;
  line-height: 120%;
  text-transform: uppercase;

  @media (max-width: 1440px) {
    font-size: 46px;
  }

  @media (max-width: 1220px) {
    font-size: 38px;
  }

  @media (max-width: 991px) {
    font-size: 32px;
  }

  @media (max-width: 600px) {
    font-size: 28px;
  }
}

.tt-2 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;

  @media (max-width: 1220px) {
    font-size: 36px;
  }

  @media (max-width: 991px) {
    font-size: 30px;
  }

  @media (max-width: 600px) {
    font-size: 26px;
  }
}

.tt-3 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 22px;
  }

  @media (max-width: 600px) {
    font-size: 20px;
  }
}

.tt-4 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.but-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border-radius: 8px;
  min-width: 94px;
  min-height: 54px;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
  background-color: var(--l-green);
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:focus-visible {
    background-color: var(--active);
  }

  &:active {
    background-color: var(--hover);
    transition-duration: .1s;
  }
}

.but-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border-radius: 8px;
  min-width: 94px;
  min-height: 54px;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
  background-color: var(--green);
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:focus-visible {
    background-color: var(--active);
  }

  &:active {
    background-color: var(--hover);
    transition-duration: .1s;
  }
}