@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Fredoka-Regular.woff2") format("woff2")
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../fonts/Nunito-Black.woff2") format("woff2")
}