* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: Shanti;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Shanti-Regular.woff2) format("woff2")
}

@font-face {
  font-family: RussoOne;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/RussoOne-Regular.woff2) format("woff2")
}

:root {
  --font-main: "Shanti", sans-serif;
  --font-second: "RussoOne", sans-serif;
  --container-width: 1310px;
  --container-step: 20px;
  --container-step-tablet: 15px;
  --container-step-mobile: 10px;
  --container: calc(var(--container-width) + (var(--container-step) * 2));
  --background-page: #f3f3f3;
  --background-menu: #1d1c1c;
  --white: #ffffff;
  --blue: #29afe8;
  --black: #1d1c1c;
  --hover: rgba(41, 175, 232, 0.39);
  --active: #29afe8
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step)
}

@media (max-width:991px) {
  .container {
    padding: 0 var(--container-step-tablet)
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 var(--container-step-mobile)
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page)
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 120px
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.tt-1 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 52px;
  line-height: 110%
}

@media (max-width:1220px) {
  .tt-1 {
    font-size: 42px
  }
}

@media (max-width:991px) {
  .tt-1 {
    font-size: 36px
  }
}

@media (max-width:600px) {
  .tt-1 {
    font-size: 28px
  }
}

.tt-2 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%
}

@media (max-width:1220px) {
  .tt-2 {
    font-size: 36px
  }
}

@media (max-width:991px) {
  .tt-2 {
    font-size: 30px
  }
}

@media (max-width:600px) {
  .tt-2 {
    font-size: 26px
  }
}

.tt-3 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 32px;
  line-height: 130%
}

@media (max-width:991px) {
  .tt-3 {
    font-size: 28px
  }
}

@media (max-width:600px) {
  .tt-3 {
    font-size: 24px
  }
}

.tt-4 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 24px;
  line-height: 120%
}

@media (max-width:991px) {
  .tt-4 {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .tt-4 {
    font-size: 20px
  }
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%
}

@media (max-width:600px) {
  .tx-1 {
    font-size: 14px
  }
}

.tx-2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%
}

@media (max-width:991px) {
  .tx-2 {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .tx-2 {
    font-size: 16px
  }
}

.but-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px 25px;
  border: 2px solid var(--blue);
  min-width: 144px;
  min-height: 56px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--black);
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .but-1:hover {
    background-color: var(--hover)
  }
}

.but-1:focus-visible {
  background-color: var(--hover)
}

.but-1:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.header {
  padding: 20px 0;
  background-color: var(--black)
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-menu);
    z-index: 100;
    padding: 100px 30px 30px 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

@media (max-width:600px) {
  .header__menu {
    padding: 80px 30px 30px 30px
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: 30px;
    right: 30px
  }
}

@media (max-width:600px) {
  .header__exit-menu {
    top: 15px;
    right: 15px
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px 24px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 50px
  }
}

.nav__link {
  color: var(--white);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: var(--hover)
  }
}

.nav__link:focus-visible {
  color: var(--hover)
}

.nav__link:active {
  color: var(--hover);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 45px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--white);
  border-radius: 8px
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.hero {
  padding: 30px 0 60px 0;
  background-color: var(--black)
}

.hero:not(:last-child) {
  margin-bottom: 120px
}

@media (max-width:991px) {
  .hero {
    padding: 40px 0
  }
}

@media (max-width:600px) {
  .hero {
    padding: 40px 0
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 32px
}

@media (max-width:991px) {
  .hero__container {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.hero__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 413px;
  flex: 0 0 413px
}

@media (max-width:991px) {
  .hero__left {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.hero__title {
  color: var(--white)
}

.hero__title span {
  color: var(--blue)
}

.hero__title:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .hero__title:not(:last-child) {
    margin-bottom: 24px
  }
}

.hero__link {
  color: var(--white)
}

.hero__link:not(:last-child) {
  margin-bottom: 124px
}

@media (max-width:991px) {
  .hero__link:not(:last-child) {
    margin-bottom: 32px
  }
}

.hero__text {
  max-width: 304px;
  width: 100%;
  color: var(--white)
}

@media (max-width:991px) {
  .hero__text {
    max-width: none
  }
}

.hero__image {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 864px;
  flex: 0 1 864px;
  padding-bottom: 40%
}

@media (max-width:991px) {
  .hero__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

@media (max-width:600px) {
  .hero__image {
    padding-bottom: 50%
  }
}

.hero__image picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1
}

.hero__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.about:not(:last-child) {
  margin-bottom: 120px
}

.about__title {
  color: var(--black)
}

.about__title:not(:last-child) {
  margin-bottom: 16px
}

.about__subtitle {
  color: var(--black);
  opacity: .5
}

.about__subtitle:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .about__subtitle:not(:last-child) {
    margin-bottom: 24px
  }
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 32px
}

@media (max-width:991px) {
  .about__content {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.about__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 416px;
  flex: 0 1 416px
}

@media (max-width:991px) {
  .about__left {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.about__image {
  width: 100%
}

.about__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.about__image_1 {
  height: 232px
}

@media (max-width:991px) {
  .about__image_1 {
    max-width: 416px
  }
}

.about__image_1:not(:last-child) {
  margin-bottom: 16px
}

.about__image_2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 416px;
  flex: 0 1 416px;
  height: 416px
}

@media (max-width:600px) {
  .about__image_2 {
    max-width: 416px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.about__text {
  color: var(--black)
}

.about__text:not(:last-child) {
  margin-bottom: 16px
}

.about__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 32px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 864px;
  flex: 0 1 864px
}

@media (max-width:991px) {
  .about__right {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
    gap: 24px
  }
}

@media (max-width:600px) {
  .about__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.about__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 416px;
  flex: 0 1 416px
}

@media (max-width:600px) {
  .about__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.nomers:not(:last-child) {
  margin-bottom: 120px
}

.nomers_2 {
  margin-top: 120px
}

@media (max-width:991px) {
  .nomers_2 {
    margin-top: 80px
  }
}

.nomers__title {
  color: var(--black)
}

.nomers__title:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .nomers__title:not(:last-child) {
    margin-bottom: 24px
  }
}

.nomers__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template: auto/repeat(3, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .nomers__list {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template: auto/repeat(2, 1fr);
    gap: 24px
  }
}

@media (max-width:600px) {
  .nomers__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.nomers__list_2 {
  display: block
}

.nomers__list:not(:last-child) {
  margin-bottom: 32px
}

.nomers__image {
  height: 296px
}

.nomers__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.nomers__image:not(:last-child) {
  margin-bottom: 16px
}

.nomers__subtitle {
  color: var(--black);
  text-align: center;
  text-transform: uppercase
}

.nomers__subtitle:not(:last-child) {
  margin-bottom: 7px
}

.nomers__text {
  color: var(--black);
  opacity: .5
}

.nomers__link {
  margin: 0 auto
}

.nomers-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 32px
}

@media (max-width:991px) {
  .nomers-item {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.nomers-item:not(:last-child) {
  margin-bottom: 60px
}

.nomers-item__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 416px;
  flex: 0 1 416px
}

@media (max-width:991px) {
  .nomers-item__left {
    display: none
  }
}

.nomers-item__image {
  width: 100%
}

.nomers-item__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.nomers-item__image_1 {
  height: 472px
}

.nomers-item__image_2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 306px;
  flex: 0 1 306px;
  height: 529px
}

@media (max-width:600px) {
  .nomers-item__image_2 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    max-width: 306px;
    margin: 0 auto
  }
}

.nomers-item__right {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 864px;
  flex: 0 1 864px
}

@media (max-width:991px) {
  .nomers-item__right {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.nomers-item__subtitle {
  color: var(--black);
  text-transform: uppercase
}

.nomers-item__subtitle:not(:last-child) {
  margin-bottom: 24px
}

.nomers-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 32px
}

@media (max-width:991px) {
  .nomers-item__content {
    gap: 24px
  }
}

@media (max-width:600px) {
  .nomers-item__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

.nomers-item__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 528px;
  flex: 0 1 528px
}

@media (max-width:600px) {
  .nomers-item__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.nomers-item__text {
  color: var(--black);
  opacity: .7
}

.nomers-item__text:not(:last-child) {
  margin-bottom: 16px
}

.reviews:not(:last-child) {
  margin-bottom: 120px
}

.reviews_2 {
  margin-top: 120px
}

@media (max-width:991px) {
  .reviews_2 {
    margin-top: 80px
  }
}

.reviews__title {
  color: var(--black)
}

.reviews__title:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .reviews__title:not(:last-child) {
    margin-bottom: 24px
  }
}

.reviews__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template: auto/repeat(3, 1fr);
  gap: 32px
}

@media (max-width:991px) {
  .reviews__list {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template: auto/repeat(2, 1fr);
    gap: 24px
  }
}

@media (max-width:600px) {
  .reviews__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.reviews__list:not(:last-child) {
  margin-bottom: 32px
}

.reviews__item {
  background-color: #eaeaea;
  padding: 16px;
  min-height: 291px
}

.reviews__subtitle {
  color: var(--black);
  text-align: center
}

.reviews__subtitle:not(:last-child) {
  margin-bottom: 16px
}

.reviews__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 4px
}

.reviews__stars:not(:last-child) {
  margin-bottom: 10px
}

.reviews__star {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 34px;
  flex: 0 0 34px;
  height: 34px
}

.reviews__star img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.reviews__text {
  color: var(--black);
  text-align: center
}

.reviews__link {
  margin: 0 auto
}

.contacts {
  padding: 60px 0;
  background-color: var(--black)
}

.contacts:not(:last-child) {
  margin-bottom: 120px
}

.contacts_2 {
  margin-top: 180px
}

@media (max-width:991px) {
  .contacts_2 {
    margin-top: 120px
  }
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 32px
}

@media (max-width:991px) {
  .contacts__container {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.contacts__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 528px;
  flex: 0 1 528px
}

@media (max-width:991px) {
  .contacts__left {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.contacts__title {
  color: var(--white)
}

.contacts__title:not(:last-child) {
  margin-bottom: 16px
}

.contacts__subtitle {
  color: var(--white);
  opacity: .6
}

.form {
  display: block;
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 404px;
  flex: 0 1 404px
}

@media (max-width:991px) {
  .form {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    max-width: 404px;
    margin: 0 auto
  }
}

.form__inputs:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .form__inputs:not(:last-child) {
    margin-bottom: 24px
  }
}

.form__input {
  display: block;
  width: 100%;
  min-height: 56px;
  border: 2px solid transparent;
  background-color: #eaeaea;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
  color: var(--black);
  padding: 0 16px
}

@media (any-hover:hover) {
  .form__input:hover {
    border-color: var(--hover)
  }
}

.form__input:focus-visible {
  border-color: var(--hover)
}

.form__input::-webkit-input-placeholder {
  color: var(--black);
  opacity: .6
}

.form__input::-moz-placeholder {
  color: var(--black);
  opacity: .6
}

.form__input:-ms-input-placeholder {
  color: var(--black);
  opacity: .6
}

.form__input::-ms-input-placeholder {
  color: var(--black);
  opacity: .6
}

.form__input::placeholder {
  color: var(--black);
  opacity: .6
}

.form__input:not(:last-child) {
  margin-bottom: 24px
}

.form__button {
  color: var(--white)
}

.terms {
  padding: 80px 0 0 0
}

@media (max-width:991px) {
  .terms {
    padding: 60px 0 0 0
  }
}

.terms h1 {
  font-size: 42px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 16px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-size: 36px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 25px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 14px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-size: 20px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 400
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 12px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-size: 18px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 400
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.no-found {
  padding: 250px 0 50px 0
}

@media (max-width:991px) {
  .no-found {
    padding: 160px 0 50px 0
  }
}

@media (max-width:600px) {
  .no-found {
    padding: 120px 0 50px 0
  }
}

.no-found__title {
  font-size: 60px;
  line-height: 1.3;
  color: var(--black);
  text-align: center;
  font-weight: 700
}

@media (max-width:991px) {
  .no-found__title {
    font-size: 40px
  }
}

@media (max-width:600px) {
  .no-found__title {
    font-size: 32px
  }
}

.no-found__title:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .no-found__title:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .no-found__title:not(:last-child) {
    margin-bottom: 20px
  }
}

.no-found__text {
  font-size: 24px;
  line-height: 1.3;
  color: var(--black);
  text-align: center;
  font-weight: 400
}

@media (max-width:991px) {
  .no-found__text {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .no-found__text {
    font-size: 20px
  }
}

.no-found__text:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .no-found__text:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .no-found__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.no-found__link {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 20px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 400;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (max-width:991px) {
  .no-found__link {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .no-found__link {
    font-size: 16px
  }
}

@media (any-hover:hover) {
  .no-found__link:hover {
    color: var(--hover)
  }
}

.no-found__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none
}

.popup.popup-active.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center
}

.popup__text:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:991px) {
  .popup__text:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .popup__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--blue);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

@media (any-hover:hover) {
  .popup__button:hover {
    background-color: var(--hover)
  }
}

.popup__button:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.footer {
  padding-bottom: 60px
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px 24px
}

@media (max-width:991px) {
  .footer__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

.footer__link {
  color: var(--black);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: var(--hover)
  }
}

.footer__link:focus-visible {
  color: var(--hover)
}

.footer__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}