@font-face {
  font-family: 'ReemKufiInk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/ReemKufiInk-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Telex';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Telex-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Lato-Regular.woff2") format("woff2")
}