:root {
  // Шрифты
  --font-main: "Rambla", sans-serif; // главный шрифт на странице 
  --font-second: "RussoOne", sans-serif; // второй шрифт на странице
  // Контейнер
  --container-width: 1215px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #181817; // бекграунд страницы
  --background-menu: #181817;
  --white: #ffffff;
  --black: #000000;
  --blue: #2c48a9;

  --hover: #3a58c2; // цвет при ховере
  --active: #4b69d2; // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 120px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.webp {
  & .hero {
    background-image: url(../../img/hero.webp);
  }

  & .ajax {
    background-image: url(../../img/ajax-1.webp);
  }
}

.no-webp {
  & .hero {
    background-image: url(../../img/hero.jpg);
  }

  & .ajax {
    background-image: url(../../img/ajax-1.jpg);
  }
}

.tt-1 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 52px;
  line-height: 120%;

  @media (max-width: 1440px) {
    font-size: 46px;
  }

  @media (max-width: 1220px) {
    font-size: 40px;
  }

  @media (max-width: 991px) {
    font-size: 34px;
  }

  @media (max-width: 600px) {
    font-size: 28px;
  }
}

.tt-2 {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;

  @media (max-width: 1440px) {
    font-size: 36px;
  }

  @media (max-width: 1220px) {
    font-size: 30px;
  }

  @media (max-width: 991px) {
    font-size: 28px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.tx-2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.but-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border-radius: 27px;
  min-width: 176px;
  min-height: 52px;
  width: fit-content;
  background-color: var(--blue);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: var(--white);
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:focus-visible {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}