@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto-Regular'),
    url("../../fonts/Roboto-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'SofiaSans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('SofiaSans-Black'),
    url("../../fonts/SofiaSans-Black.woff2") format("woff2")
}

@font-face {
  font-family: 'SofiaSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('SofiaSans-Bold'),
    url("../../fonts/SofiaSans-Bold.woff2") format("woff2")
}