 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url("../../fonts/Roboto-Regular.woff2") format("woff2")
 }

 @font-face {
   font-family: 'Jost';
   font-style: normal;
   font-weight: 800;
   font-display: swap;
   src: url("../../fonts/Jost-ExtraBold.woff2") format("woff2")
 }