@font-face {
  font-family: 'PaytoneOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/PaytoneOne-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Rubik-Regular.woff2") format("woff2")
}
