.hero {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
 
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 22px;
    min-height: 100vh; 
  }

  &__logo {
    width: 300px;
    height: 353px;
    margin: 0 auto;
    @media (max-width: 1440px) {
      width: 225px;
      height: 270px;
    }
    @media (max-width: 991px) {
      width: 328px;
      height: 88px;
    }

    @media (max-width: 600px) {}

    @media (max-width: 374px) {
      width: 280px;
      height: 70px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;
      @media (max-width: 991px) {
        margin-bottom: 16px;
      } 
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__bottom {}

  &__link {
    margin: 0 auto;

    @media (max-width: 768px) {
      min-width: auto;
      width: 100%;
    }
  }
}

.hero-content {
  &:not(:last-child) {
    margin-bottom: 61px;

    @media (max-width: 600px) {
      margin-bottom: 22px;
    }
  }

  &__descr {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 36px;
    max-width: 1115px;
    margin: 0 auto;

    @media (max-width: 991px) {
      flex-direction: column;
      justify-content: center;
      gap: 24px;
    }
    @media (max-width: 600px) {
      gap: 16px;
    }
    &:not(:last-child) {
      margin-bottom: 44px;

      @media (max-width: 600px) {
        margin-bottom: 24px;
      }
    }
  }

  &__num {
    color: var(--pink);
    text-align: right;
    flex: 0 0 515px;

    @media (max-width: 1220px) {
      flex: 0 1 515px;
    }

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
      text-align: center;
    }
  }

  &__texts {
    flex: 0 1 584px;

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
      text-align: center;
    }


  }

  &__text {
    color: var(--pink);

    &_color {
      color: var(--white);
    }
  }
}

.hero-bottom {
  @media (max-width: 768px) {}

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 40px;

    @media (max-width: 991px) {
      padding-left: 0;
    }

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }

    @media (max-width: 600px) {
      gap: 11px;
    }

    &:not(:last-child) {

      @media (max-width: 600px) {
        margin-bottom: 24px;
      }
    }
  }

  &__pays {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
    flex: 0 1 348px;

    @media (max-width: 768px) {
      flex: none;
      width: 100%;
    }

    @media (max-width: 600px) {
      gap: 8px 20px;
    }

    @media (max-width: 374px) {
      gap: 8px;
    }

    &_none {
      flex: 0 1 368px;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__pay {
    @media (max-width: 768px) {
      display: none;
    }

    &_visible {
      display: none;

      @media (max-width: 768px) {
        display: block;
      }
    }

    & picture {
      & img {
        display: block;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__text {
    flex-shrink: 0;
    text-align: center;
    color: var(--pink);

    @media (max-width: 600px) {
      flex-shrink: 1;
    }
  }

  &__download {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 10px 22px;

    @media (max-width: 600px) {
      display: flex;
    }

    @media (max-width: 374px) {
      gap: 10px;
    }
  }

  &__download-item {
    width: 100%;
    max-width: 152px;
    height: 50px;
  }

  &__download-link {
    box-shadow: 0px 1px 6px 1px rgba(120, 137, 228, 0.84);
    border-radius: 5px;
    overflow: hidden;
    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}