@font-face {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Anybody-Bold.woff2") format("woff2")
}

@font-face {
  font-family: 'Mako';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Mako-Regular.woff2") format("woff2")
}
