@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Sarabun-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'MerriweatherSans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../fonts/MerriweatherSans-ExtraBold.woff2") format("woff2")
}