@mixin marginBlock {
  &:not(:last-child) {
    margin-bottom: 120px;
  }
}

.header {
  padding: 25px 0;

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--background-menu);
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 30px 30px 30px;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      top: 30px;
      right: 30px;
    }

    @media (max-width: 600px) {
      top: 15px;
      right: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--white);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: var(--white);
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 50px;
    }
  }

  &__item {}

  &__link {
    color: var(--white);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 45px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    border-radius: 8px;
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.hero {
  @include marginBlock();
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.44) 100%);
    ;
    z-index: 1;
  }

  &__container {
    min-height: 562px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &__descr {
    max-width: 695px;
    width: 100%;
  }

  &__title {
    color: var(--white);

    & span {
      display: block;
      margin-bottom: 8px;
      opacity: .7;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__text {
    color: var(--white);
    opacity: .6;

    &:not(:last-child) {
      margin-bottom: 74px;

      @media (max-width: 991px) {
        margin-bottom: 32px;
      }
    }
  }

  &__link {}
}

// ======================================================================================================================================================

.about {
  @include marginBlock();

  &__title {
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: 991px) {
      flex-direction: column-reverse;
      gap: 24px;
    }
  }

  &__images {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    flex: 0 1 592px;

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
      max-width: 592px;
      margin: 0 auto;
      gap: 24px;
    }

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__image {
    width: 100%;
    position: relative;

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    &_1 {
      flex: 0 1 384px;
      padding-bottom: 53%;

      @media (max-width: 600px) {
        flex: none;
        width: 100%;
      }
    }

    &_2 {
      flex: 0 1 176px;
      padding-bottom: 53%;

      @media (max-width: 600px) {
        flex: none;
        width: 100%;
      }
    }
  }

  &__texts {
    flex: 0 1 592px;

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
    }
  }

  &__text {
    color: var(--white);
    opacity: .8;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

// ======================================================================================================================================================
.ajax {
  @include marginBlock();
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(91deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
  }

  &_2 {
    padding-top: 80px;

    @media (max-width: 991px) {
      padding-top: 60px;
    }

    &::before {
      background: none;
      background-color: rgba(0, 0, 0, 0.51);
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    padding-top: 60px;
    padding-bottom: 60px;

    &_2 {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      min-height: 544px;
    }
  }

  &__title {
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__content {
    max-width: 592px;
    width: 100%;
  }

  &__texts {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__text {
    color: var(--white);

    &:last-child {
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {}
}

.ajax-it {

  &__top {
    display: grid;
    align-items: flex-start;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
      grid-template-columns: 1fr;
    }

    @media (max-width: 600px) {
      gap: 24px; 
    }

    &:not(:last-child) {
      margin-bottom: 24px
    }
  }

  &__texts {}

  &__text {
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 10px
    }
  }

  &__image {
    position: relative;
    padding-bottom: 62%;

    &_1 {
      padding-bottom: 72%;
    }

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

// ======================================================================================================================================================

.gallery {
  @include marginBlock();

  &_2 {
    padding-top: 80px;

    @media (max-width: 991px) {
      padding-top: 60px;
    }
  }

  &__link {
    margin-left: auto;
  }

  &__title {
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.gallery-item {
  display: flex;
  align-items: flex-start;
  gap: 32px;

  @media (max-width: 991px) {
    gap: 24px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }

  &:not(:last-child) {
    margin-bottom: 27px;

    @media (max-width: 991px) {
      margin-bottom: 24px;
    }
  }

  &__image {
    position: relative;
    padding-bottom: 60%;

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    &_1 {
      flex: 0 1 384px;
      padding-bottom: 39%;

      @media (max-width: 991px) {
        display: none;
      }

      @media (max-width: 600px) {
        display: block;
        flex: none;
        width: 100%;
        padding-bottom: 123%;
      }
    }
  }

  &__right {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 17px 32px;
    flex: 0 1 800px;

    @media (max-width: 991px) {
      gap: 16px 24px;
      flex: 0 1 100%;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      flex: none;
      width: 100%;
    }
  }
}

// ======================================================================================================================================================

.contacts {
  @include marginBlock();

  &_2 {
    padding-top: 80px;

    @media (max-width: 991px) {
      padding-top: 60px;
    }
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    max-width: 1920px;
    padding: 0;

    @media (max-width: 991px) {
      gap: 24px;
      flex-direction: column-reverse;
    }
  }

  &__left {
    flex: 0 1 50%;
    background-color: var(--blue);
    padding: 42px 39px 53px 39px;

    @media (max-width: 991px) {
      padding: 24px 16px;
      width: 100%;
    }

    @media (max-width: 600px) {
      padding: 24px 10px;
    }
  }

  &__right {
    flex: 0 1 50%;
  }

  &__descr {
    max-width: 443px;
    width: 100%;
    margin-right: auto;

    @media (max-width: 991px) {
      padding: 24px 16px;
      max-width: none;
    }

    @media (max-width: 600px) {
      padding: 24px 10px;
    }
  }

  &__title {
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__text {
    color: var(--white);
  }
}

.form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
  max-width: 593px;
  margin-left: auto;

  @media (max-width: 991px) {
    gap: 24px;
    flex-direction: column;
    align-items: center;
    margin: 0;
    max-width: none;
  }

  &__inputs {
    flex: 0 1 384px;

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
    }
  }

  &__input {
    display: block;
    width: 100%;
    min-height: 64px;
    border-radius: 5px;
    background-color: #101010;
    padding: 0 16px;
    border: 2px solid transparent;
    color: var(--white);
    transition: border-color .3s ease-in-out;

    &::placeholder {
      color: var(--white);
      opacity: .8;
    }

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--white);
      }
    }

    &:focus-visible {
      border-color: var(--white);
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__button {
    background-color: var(--white);
    color: var(--blue);
  }
}

// ======================================================================================================================================================


.terms {
  padding: 80px 0 0 0;

  @media (max-width: 991px) {
    padding: 60px 0 0 0;
  }

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}


.no-found {
  padding: 250px 0 50px 0;

  @media (max-width: 991px) {
    padding: 160px 0 50px 0;
  }

  @media (max-width: 600px) {
    padding: 120px 0 50px 0;
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    color: var(--white);
    text-align: center;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    color: var(--white);
    text-align: center;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.3;
    color: var(--white);
    font-weight: 400;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none;
}

.popup.popup-active.show {
  display: flex;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: fit-content;
  background-color: var(--blue);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}

// ======================================================================================================================================================

.footer {
  padding-bottom: 60px;

  @media (max-width: 991px) {
    padding-bottom: 40px;
  }

  &__map {
    height: 384px;

    &:not(:last-child) {
      margin-bottom: 40px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }
    }

    & iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__link {
    color: var(--white);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}