@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Mitr-Bold.woff2") format("woff2")
}

@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/Mukta-Medium.woff2") format("woff2")
}

@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Mukta-Regular.woff2") format("woff2")
}