@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../fonts/Kanit-ExtraBold.woff2") format("woff2")
}

@font-face {
  font-family: 'Shanti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Shanti-Regular.woff2") format("woff2")
}
