:root {
  // Шрифты
  --font-main: "Palanquin", sans-serif; // главный шрифт на странице
  --font-second: "Petrona", sans-serif; // главный шрифт на странице

  // Контейнер
  --container-width: 1120px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #f7f7f7; // бекграунд страницы
  --background-menu: #f7f7f7;
  --white: #ffffff;
  --black: #000000;
  --d-green: #0f3808;
  --green: #1b700d;
  --dark: #201e1e;

  --hover: #185c0d; // цвет при ховере
  --active: #154a0c; // цвет при активе
  --hover2: rgba(27, 112, 13, 0.2); // цвет при ховере
  --active2: rgba(27, 112, 13, 0.45); // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 100px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.tt-1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 52px;
  line-height: 120%;

  &::before {
    content: "";
    height: 1px;
    flex: 0 0 40px;
    background-color: var(--white);

    @media (max-width: 600px) {
      display: none;
    }
  }

  @media (max-width: 1220px) {
    font-size: 46px;
  }

  @media (max-width: 991px) {
    font-size: 36px;
  }

  @media (max-width: 600px) {
    font-size: 28px;
  }
}

.tt-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;

  &::before {
    content: "";
    flex: 0 0 40px; 
    height: 1px;
    background-color: var(--white);

    @media (max-width: 600px) {
      display: none;
    }
  }

  @media (max-width: 1220px) {
    font-size: 36px;
  }

  @media (max-width: 991px) {
    font-size: 30px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.tt-3 {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 22px;
  }

  @media (max-width: 600px) {
    font-size: 20px;
  }
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.tx-2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.but-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border-radius: 38px;
  min-width: 113px;
  min-height: 56px;
  width: fit-content;
  background-color: var(--green);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:focus-visible {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}

.but-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border-radius: 38px;
  min-width: 113px;
  min-height: 56px;
  width: fit-content;
  border: 1px solid var(--green);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover2);
    }
  }

  &:focus-visible {
    background-color: var(--hover2);
  }

  &:active {
    background-color: var(--active2);
    transition-duration: .1s;
  }
}