@font-face {
  font-family: 'Helvetica-Neue-Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Helvetica-Neue-Condensed-Bold.woff2") format("woff2")
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Lato-Regular.woff2") format("woff2")
}