@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Questrial-Regular'),
    url("../../fonts/Questrial-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Outfit-Bold'),
    url("../../fonts/Outfit-Bold.woff2") format("woff2")
}