@font-face {
  font-family: 'Kokoro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Kokoro-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Volkhov-Bold.woff2") format("woff2")
}