@font-face {
  font-family: 'KabelBook';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/KabelBook-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/NotoSans-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/NotoSans-SemiBold.woff2") format("woff2")
}