@font-face {
  font-family: 'Telex';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Telex-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'SpectralSC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/SpectralSC-Bold.woff2") format("woff2")
}