@font-face {
  font-family: 'PTSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/PTSans-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'PublicSans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../fonts/PublicSans-Black.woff2") format("woff2")
}

@font-face {
  font-family: 'PublicSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/PublicSans-Regular.woff2") format("woff2")
}