@mixin marginBlock {
  &:not(:last-child) {
    margin-bottom: 120px;
  }
}

section {
  @include marginBlock();
}

.header {

  &__content {
    padding: 25px 0;
    border-bottom: 1px solid var(--black);
  }

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--background-menu);
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 30px 30px 30px;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      top: 30px;
      right: 30px;
    }

    @media (max-width: 600px) {
      top: 15px;
      right: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 50px;
    }
  }

  &__item {}

  &__link {
    color: var(--black);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 45px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--black);
    border-radius: 8px;
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.hero {
  padding-top: 60px;

  &__container {
    display: flex;
    align-items: center;
    gap: 32px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 24px;
    }

  }

  &__left {
    flex: 0 1 469px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
    }
  }

  &__title {
    color: var(--red);

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__subtitle {
    color: var(--brown);

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__texts {
    &:not(:last-child) {
      margin-bottom: 36px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }
    }
  }

  &__text {
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 14px;
  }

  &__item {}

  &__link {}

  &__image {
    position: relative;
    flex: 0 1 638px;
    width: 100%;
    padding-bottom: 37%;

    @media (max-width: 991px) {
      flex: none;
      padding-bottom: 50%;
    }

    @media (max-width: 600px) {
      padding-bottom: 70%;
    }

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

// ======================================================================================================================================================

.about {
  padding: 60px 0;
  background-color: var(--dark);

  &__title {
    color: var(--white);
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 36px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }
    }
  }

  &__content {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }

  &__texts {
    width: 100%;
  }

  &__text {
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

// ======================================================================================================================================================

.mnenie {
  &_2 {
    padding: 160px 0 0 0;

    @media (max-width: 991px) {
      padding: 100px 0 0 0;
    }
  }

  &__title {
    color: var(--black);
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 36px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
      flex-direction: column;
    }

    &_2 {
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    align-self: flex-end;
    flex: 0 0 160px;

    @media (max-width: 991px) {
      align-self: flex-start;
      flex: none;
      max-width: 160px;
    }

    @media (max-width: 600px) {
      margin: 0 auto;
    }
  }

  &__nums {
    display: flex;
    flex-direction: column;
    align-items: center;

    & span {
      &:first-child {
        align-self: flex-start;
        margin-bottom: -20px;
      }

      &:last-child {
        align-self: flex-end;
        margin-top: -20px;
      }
    }
  }

  &__bottom {
    @media (max-width: 991px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
    }

    @media (max-width: 600px) {
      flex-direction: column-reverse;
    }
  }

  &__button {
    height: 56px;
    width: 56px;
    transition: opacity .3s ease-in-out;

    &.swiper-button-disabled {
      opacity: .3;
      pointer-events: none;
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
    }

    &:focus-visible {
      opacity: .6;
    }

    &:active {
      opacity: .6;
      transition-duration: .1s;
    }
  }

  &__link {
    @media (max-width: 600px) {
      margin: 0 auto;
    }
  }
}

.mnenie-slider {
  flex: 0 1 896px;
  width: 100%;
  margin: 0;
  cursor: grab;

  @media (max-width: 991px) {
    flex: none;
  }

  &_2 {
    cursor: auto;
  }

  &__wrapper {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

  }

  &__slide {
    padding: 16px;
    background-color: #e6e6e6;
    border-radius: 10px;
    height: auto;
  }

  &__top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__name {
    color: var(--black);
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--brown);
  }

  &__texts {
    width: 100%;
  }

  &__text {
    color: rgba(0, 0, 0, .5);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.mnenie-slider-prev {
  transform: rotate(180deg);
}

.mnenie-slider-next {}


// ======================================================================================================================================================

.jacke {
  &_2 {
    padding: 160px 0 0 0;

    @media (max-width: 991px) {
      padding: 100px 0 0 0;
    }
  }

  &__title {
    color: var(--black);
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 36px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }
    }
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }

    &_2 {
      grid-template: auto / repeat(3, 1fr);

      @media (max-width: 991px) {
        grid-template: auto / repeat(2, 1fr);
      }

      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__item {}

  &__name {
    padding-left: 24px;
    color: var(--brown);
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__texts {
    width: 100%;
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__images {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 32px;
    margin-top: 24px;

    @media (max-width: 991px) {
      grid-template: auto / repeat(2, 1fr);
      gap: 24px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__image {
    position: relative;
    padding-bottom: 81%;

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }


  &__link {
    margin-left: auto;

    @media (max-width: 600px) {
      margin: 0 auto;
    }
  }
}

// ======================================================================================================================================================

.contacts {
  &_2 {
    padding: 160px 0 0 0;

    @media (max-width: 991px) {
      padding: 100px 0 0 0;
    }
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;

    @media (max-width: 991px) {
      flex-direction: column-reverse;
      gap: 24px;
    }

  }

  &__left {
    width: 100%;
    flex: 0 1 546px;
    padding: 24px;
    background-color: var(--dark);
    border-radius: 10px;

    @media (max-width: 991px) {
      flex: none;
      padding: 24px 16px;
    }

    @media (max-width: 600px) {
      padding: 24px 10px;
    }
  }

  &__texts {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__text {
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__title {
    flex: 0 1 352px;
    color: var(--black);

    @media (max-width: 991px) {
      flex: none;
    }
  }
}

.form {
  max-width: 426px;
  width: 100%;
  margin: 0 auto;

  &__input {
    display: block;
    width: 100%;
    border-radius: 54px;
    min-height: 58px;
    background-color: #353333;
    border: 2px solid transparent;
    padding: 0 16px;
    color: var(--white);
    transition: border-color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--hover);
      }
    }

    &:focus-visible {
      border-color: var(--hover);
    }

    &::placeholder {
      opacity: .6;
      color: var(--white);
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__button {
    margin-left: auto;
  }
}


// ======================================================================================================================================================

.terms {
  padding: 160px 0 0 0;

  @media (max-width: 991px) {
    padding: 100px 0 0 0;
  }

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}


.no-found {
  padding: 250px 0 50px 0;

  @media (max-width: 991px) {
    padding: 160px 0 50px 0;
  }

  @media (max-width: 600px) {
    padding: 120px 0 50px 0;
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    color: var(--black);
    text-align: center;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    color: var(--black);
    text-align: center;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.3;
    color: var(--black);
    font-weight: 400;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none;
}

.popup.popup-active.show {
  display: flex;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: fit-content;
  background-color: var(--brown);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}

// ======================================================================================================================================================

.footer {
  padding-bottom: 60px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__item {}

  &__link {
    color: var(--black);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}