@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Karla-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'LibreCaslonText';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/LibreCaslonText-Bold.woff2") format("woff2")
}