:root {
  // Шрифты
  --font-main: "Roboto", sans-serif; // главный шрифт на странице
  --font-second: "NotoSans", sans-serif; // главный шрифт на странице
  --font-triple: "RussoOne", sans-serif; // главный шрифт на странице

  // Контейнер
  --container-width: 1120px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #f7f7f7; // бекграунд страницы
  --background-menu: #f7f7f7;
  --orange: #c77f63;
  --black: #000000;
  --white: #ffffff;

  --hover: #d7896b; // цвет при ховере
  --active: #e59475; // цвет при активе
  --hover2: rgba(199, 127, 99, 0.31); // цвет при ховере
  --active2: rgba(199, 127, 99, 0.54); // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 120px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.tt-1 {
  font-family: var(--font-triple);
  font-weight: 400;
  font-size: 52px;
  line-height: 120%;

  @media (max-width: 1220px) {
    font-size: 42px;
  }

  @media (max-width: 991px) {
    font-size: 36px;
  }

  @media (max-width: 600px) {
    font-size: 28px;
  }
}

.tt-2 {
  font-family: var(--font-triple);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;

  @media (max-width: 1220px) {
    font-size: 36px;
  }

  @media (max-width: 991px) {
    font-size: 30px;
  }

  @media (max-width: 600px) {
    font-size: 26px;
  }
}

.tt-3 {
  font-family: var(--font-triple);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 22px;
  }

  @media (max-width: 600px) {
    font-size: 20px;
  }
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.tx-2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;

  @media (max-width: 991px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.but-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border-radius: 5px;
  width: fit-content;
  min-width: 101px;
  min-height: 56px;
  background-color: var(--orange);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:focus-visible {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}

.but-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border-radius: 5px;
  width: fit-content;
  min-width: 101px;
  min-height: 56px;
  border: 1px solid var(--orange);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--black);
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:focus-visible {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}